{% extends "::base.html.twig" %}

{% block body %}
	<div class="container">

	<form class="form-horizontal" action="{{ path('fabricante_create') }}" method="post">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h1>Criar novo fabricante</h1>
			</div>
			<div class="panel-body">					
					<div class="form-group">
						{{ form_start(form) }}

							{{ form_label(form.nome, 'Nome: ', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
						<div class="col-xs-4">
							{{ form_widget(form.nome, { 'attr': {'class': 'form-control'} }) }}
						</div>

						{{ form_end(form) }}
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Salvar</button>
							<a href="{{ path('fabricante') }}" class="btn btn-info">Voltar</a>
						</div>
					</div>
			</div>				
		</div>					
	</form>

	</div>
{% endblock %}