{% extends "::base.html.twig" %}

{% block body %}
    <div class="panel panel-default">
            <div class="panel-heading">Cadastrar Fabricante</div>
        <div class="panel-body">
			<form class="form-horizontal" action="{{ path('fabricante_create') }}" method="post">				
				<fieldset>	
					<div class="form-group row">
						{{ form_start(form) }}

							{{ form_label(form.nome, 'Nome: ', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
						<div class="col-lg-4">
							{{ form_widget(form.nome, { 'attr': {'class': 'form-control'} }) }}
						</div>

						{{ form_end(form) }}
					</div>
					<div class="form-actions">
						<button type="submit" class="btn btn-success">
						<span class="glyphicon glyphicon-saved"> Salvar</button>
						<a href="{{ path('fabricante') }}" class="btn btn-info">
						<span class="glyphicon glyphicon-step-backward"></span> Voltar</a>
					</div>
				</fieldset>				
			</form>
		</div>
	</div>	
{% endblock %}